---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const allPosts = await getCollection("blog");
const posts = allPosts.filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// Get all unique tags
const allTags = [...new Set(posts.flatMap(post => post.data.tags || []))];

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const postsByYear = posts.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(postsByYear).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10" id="post-list">
        {years.map((year) => (
          <div class="mb-10 year-section">
            <h2 class="text-2xl font-bold mb-4">{year}</h2>
            <div class="space-y-4">
              {postsByYear[year].map((post) => (
                <div class="post-item" data-tags={post.data.tags?.join(',')}>
                  <ArrowCard entry={post} />
                </div>
              ))}
            </div>
          </div>
        ))}
      </div>
    </aside>
  </Container>
</Layout>